@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("../pliki/Montserrat-Medium.tff");
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  background: linear-gradient(to top, #ebebeb 50%, #fff 50%) no-repeat;
}

h1 {
  background-color: lightgreen;
  font-size: 50px;
}

h3 {
  font-size: 30pt;
}

footer {
  font-size: 75%;
}

body > section > article:nth-child(2) {
  font-weight: 600;
}

body > section > article:nth-child(3) > p {
  font-style: italic;
}

body > section > article:nth-last-child(3) > p {
  font-variant: small-caps;
  line-height: 0.75em;
  font-family: fantasy;
}

p {
  color: black;
}

:not(p) {
  color: grey;
}

.linear_grad {
  background-image: linear-gradient(45deg, lightblue, lightgreen);
}

.linear_grad2 {
  background-image: linear-gradient(blue, violet);
}

.linear_grad2 p {
  color: white;
}

.radial_grad {
  background-image: radial-gradient(lightblue, lightgreen, lightyellow);
}

.radial_grad2 {
  background-image: radial-gradient(circle, #c76a63, #c7a263);
}

#obrazki {
  transform: translateY(100px);
}

#przenikanie1 {
  transform: scale(0.8, 0.8) rotateZ(20deg) translateX(20px) skew(5deg, 5deg);
}

#przenikanie2 {
  transform: translateX(-100px);
  opacity: 0.75;
}

.crossfade {
  width: 300px;
  height: 300px;
  background-image: -webkit-cross-fade(50%
      url('pliki/square_crossfade.png'),
      url('pliki/circle_crossfade.png'));
  background-image: cross-fade(50%
      url('pliki/square_crossfade.png'),
      url('pliki/circle_crossfade.png'));
}
