body {
  font-size: 1.5em;
  background: linear-gradient(to top, #ebebeb 50%, #fff 50%) no-repeat;
}

h1 {
  background-color: lightgreen;
  font-size: 50px;
}

h3 {
  font-size: 30pt;
}

footer {
  font-size: 75%;
}

body > section > article:nth-child(2) {
  font-weight: 600;
}

body > section > article:nth-child(3) > p {
  font-style: italic;
}

body > section > article:nth-last-child(3) > p {
  font-variant: small-caps;
  line-height: 0.75em;
  font-family: fantasy;
}

p {
  color: black;
}

:not(p) {
  color: grey;
}
