.menu_start_entry {
  background-color: lightgreen;
  width: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover > .dropdown-content, .sub-dropdown:hover > .sub-dropdown-content, .sub-sub-dropdown:hover > .sub-sub-dropdown-content {display: block;}

.sub-dropdown-content, .sub-sub-dropdown-content {
  position:absolute;
  transform: translate(100%, -33%);
}


.sub-dropdown, .sub-sub-dropdown {
  width:100%;
}

p {
  width: 100%;
}
